---
layout: default
---

<!-- Title -->
<section class="text-center">
  <br>
  <br>
  <h1 class="font-weight-bold mb-2">Wittle</h1>
  <h2 class="h4 font-weight-lighter">Depression Experience Project</h2>
  <!-- Categories
  <div class="dropdown mb-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for category in site.stories.category %}
      <a class="dropdown-item" href="#">Boom {{category.name}}</a>
      {%endfor%}
    </div>
  </div>
-->
  <br>
  <br>
</section>

<!-- Content -->
<div class="card-columns">
{% for story in site.stories %}
  <div class="card mb-4">
    <img src=".{{ story.image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="{{story.url}}"><h5 class="card-title">{{story.title}}</h5></a>
      <p class="card-text">{{story.description}}</p>
      <a href="{{story.link.url}}" target="_blank" class="btn btn-primary">{{story.link.text}}</a>
    </div>
  </div>
{%endfor%}
</div>
      