---
layout: default
---

<!-- Title -->
<section class="text-center">
  <br>
  <br>
  <h1 class="font-weight-bold mb-2">Wittle</h1>
  <h2 class="h4 font-weight-lighter">Depression Experience Project</h2>
  <br>
  <br>
  <!-- Categories-->
  <div>
      {% assign categories = "All" %}
      {% for story in site.stories %}
        {% assign categories = categories | concat: story.categories %}
      {%endfor%}
      {% assign categories = categories | uniq %}
      {% for category in categories %}
      <a id="{{category}}" class="catButton btn btn-primary {{category}}" href="#">{{category}}</a>
      {%endfor%}
  </div>

  <br>
  <br>
</section>

<!-- Content -->
<div class="card-columns">
{% for story in site.stories %}
  <div class="card mb-4 {{story.categories | join: ' '}}">
    <img src=".{{ story.image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="{{ story.url | relative_url }}"><h5 class="card-title">{{story.title}}</h5></a>
      <p class="card-text">{{story.description}}</p>
      <a href="{{story.link.url}}" target="_blank" class="btn btn-primary">{{story.link.text}}</a>
    </div>
  </div>
{%endfor%}
</div>

<script>
  $(document).ready(function(){
    $(".catButton").click(function(){
      $('.card').hide('fast','linear');
      var id = $(this).attr('id');
      if(id == 'All') {
        $('.card').show('fast','linear');
      } else {
         $('.'+id).show('fast','linear');
      }
    });
  });
  
</script>
      