
<div class="notification is-link content has-text-centered">
  <h2 class="has-text-white">Feedback Wanted</h2>
  <p>Wittle is currently in the prototype phase and we're collecting feedback, seeking stories and solidifying our partners for the production phase. Feedback on our videos and games can be provided via our:</p>
  <p>
    <a class="button is-rounded" href="https://forms.gle/GrhbAUCedm2HG7xJ9">Google Form</a>
  </p>
  <!--<p><small>If you're intertesd in contributing a story or joining the production team please contact us at <a href="mailto:wittle@embreate.com">wittle@embreate.com</a>
 Or for more information visit our <a href="/contribute.html">contribution page</a>.</small></p>-->
</div>
