<!-- Footer -->
<section class="section content has-text-centered">
  <h2 class="is-size-2 has-text-weight-bold has-text-black">
    Our Partners
  </h2>
  <br>
  <div class="columns is-centered is-multiline is-mobile">
    <div class="column is-half-mobile is-one-quarter">
      <a href="https://www.embreate.com/" target="_blank"> 
        <img src="/uploads/partners/Embreate-Logo.svg">
      </a>
    </div>
    <div class="column is-half-mobile is-one-quarter">
      <a href="https://telusfund.ca/" target="_blank"> 
        <img src="/uploads/partners/Telus-Fund-logo.svg">
      </a>
    </div>
    
  </div>
  <div class="columns is-centered is-multiline is-mobile">
    <div class="column is-half-mobile is-one-fifth">
      <a href="https://www.plaifactory.com/" target="_blank">  
        <img src="/uploads/partners/Plai-Factory-Logo-Tall.svg">
      </a>
    </div>
    <div class="column is-half-mobile is-one-fifth">
      <a href="http://www.camh.ca/" target="_blank"> 
        <img src="/uploads/partners/camh-logo-black-1000.png">
      </a>
    </div>
    <div class="column is-half-mobile is-one-fifth">
      <a href="http://makerboost.embreate.com" target="_blank"> 
        <img src="/uploads/partners/Maker-Boost-Logo.svg">
      </a>
    </div>

  </div>

</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <small>
        &copy;2019 
        <a class="has-text-black" href="http://www.embreate.com">
          <strong>Embreate Inc.</strong>
        </a>
      </small>
    </p>
  </div>
</footer> 