<!-- Footer -->
<footer class="footer mt-auto mt-3 text-center bg-secondary text-white ">
  <div class="container my-5">
    <p>Follow us to stay up to date on the {{site.title}} project.</p>
    <h2 class="mb-4">@embreate</h2>
    <div>
      <a class="mx-2 text-white " href="https://twitter.com/embreate">
        <i class="fab fa-twitter fa-4x"></i>
      </a>
      <a class="mx-2 text-white " href="https://www.instagram.com/embreate/">
        <i class="fab fa-instagram fa-4x"></i>
      </a>
      <a class="mx-2 text-white " href="https://www.facebook.com/Embreate/">
        <i class="fab fa-facebook fa-4x"></i>
      </a>
    </div>
    
  </div>
  <div class="container">
    <p class="mb-1">
      <small>
        &copy;2019 
        <a class="text-white" href="http://www.embreate.com">Embreate Inc.</a>
      </small>
    </p>
  </div>
</footer> 