<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:image" content="{{page.image | absolute_url }}" />
  <meta property="og:url" content="{{page.url | absolute_url }}" />
  <meta property="og:site_name" content="{{site.title}} {{site.subTitle}}" />
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="{{page.image | absolute_url }}">
  <meta name="twitter:site" content="@embreate">
  <meta name="twitter:creator" content="@embreate">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c97bac033e.js"></script>
  
  <style>
    main .container {
      padding: 60px 15px 0;
    }
  </style>
  
  <title>Wittle | Depression Experience Project</title>
</head>