body{
    background-color: rgb(234,255,34);
}

/* Helpers */
.m-r-10{margin-right:10px;}
.m-r-20{margin-right:20px;}
.m-r-30{margin-right:30px;}
.m-t-neg100{margin-top:-100px;}
.m-l-10{margin-left:10px;}
.m-l-20{margin-left:20px;}
.p-20{padding:20px}

.h-600{min-height: 600px}


.v-align-bottom { margin-top: auto; }

.column-top{order: 2;}
.column-bottom{order: 5;}

/*@include mobile*/
@media screen and (max-width: 768px){
  .columns.is-reverse-mobile {
    flex-direction: column-reverse;
    display: flex; 
  }
}

.columns.is-reverse-mobile .column {
  width: 100%;
}



/* Navbar */
nav.level .level-left .level-item {
    margin-right:30px;
} 

#page-index nav .site-logo {
    display: none;
}

/* Footer */

footer.footer{
    background-color: inherit;
}
