---
layout: default
---

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<img src="{{ page.image  | absolute_url }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{page.title}}</h5>
				<p class="card-text">{{page.description}}</p>
				<a href="{{page.link.link}}" class="btn btn-primary">{{page.link.text}}</a>
				{% include social-share.html %}
			</div>
    </div>
    
    <br>
    <br>

    <h3 class="text-center">Related Posts</h3>
    {% for story in site.stories limit: 3 %}
    <div class="card mb-4">
      <img src="../{{ story.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="{{ story.url | relative_url }}"><h5 class="card-title">{{story.title}}</h5></a>
        <p class="card-text">{{story.description}}</p>
        <a href="{{story.link.url}}" target="_blank" class="btn btn-primary">{{story.link.text}}</a>
      </div>
    </div>
    {%endfor%}
  </div>
</div>