---
layout: default
---

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<img src="{{ page.image  | absolute_url }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{page.title}}</h5>
				<p class="card-text">{{page.description}}</p>
				<a href="{{page.link.link}}" class="btn btn-primary">{{page.link.text}}</a>
				{% include social-share.html %}
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div>
	<h3 class="text-center">Related Posts</h3>
</div>